body {
    background-color: #fafafa;
}

.black-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 7;
}

.main-nav, .nav-backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    height: 48px;
}

.nav-backdrop {
    background-color: #333;
    z-index: 1;
}

.main-nav a {
    color: #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    display: block;
}

.main-nav a:focus {
    text-decoration: none;
}

.main-nav a:hover, .main-nav .option.header:hover {
    text-decoration: none;
    color: #ddd;
    cursor: pointer;
}

.main-nav .options-wrapper {
    display: flex;
    width: 100%;
    margin-top: 8px;
}

.main-nav .option-item {
    position: relative;
    flex-grow: 1;
    color: #fff;
    padding: 4px 8px;
}

.main-nav .option-item.active {
    border-bottom: #fff solid 2px;
}

.main-nav .option.header {
    text-align: center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.main-nav .option-dropdown {
    top: 40px;
    background-color: #fafafa;
    max-height: 0;
    min-width: 100%;
    box-shadow: 1px 1px 1px 0px #333; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    overflow-y: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

.main-nav .option-dropdown.open {    
    border: #bcbcbc solid 1px;
}

.main-nav .option-dropdown .option {
    padding: 5px;
    color: #333;
    white-space: nowrap;
}

.main-nav .option-dropdown .option:hover {
    background-color: #ddd;
}

.main-nav .option-dropdown a.option {
    color: #333;
}


.cover {
    z-index: 5;
    display: block;
    background: url(../img/cover.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #333;
    height: 600px;
    max-height: 100vh;
    width: 100%;
    position: relative;
}

.cover .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
}

.cover .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.cover .content h1 {
    margin-top: 0px;
    font-size: 48px;
}

.cover .content {
    color: #fff;
}

.cover .content h3 {
    font-size: 24px;
}

@media (max-width: 767px) {

    .main-nav, .nav-backdrop {
        height: 38px;
    }

    .toggle-menu {
        width: 38px;
        height: 38px;
        padding: 6px 0;
    }

    .burger {
        width: 22px;
        height: 3px;
        background-color: #fff;
        margin: 4px auto;
    }

    .main-nav .options-wrapper {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 200px;
        background: #333;
        margin-top: 0;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        transition: transform 0.3s;
    }

    .main-nav.open .options-wrapper {        
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }
    
    .main-nav .option.header {
        padding: 5px;
        text-align: left;
    }

    .main-nav .option-item.active {
        border: 0;
        background-color: #33c;
    }

    .main-nav .option-dropdown {
        position: relative;
        top: 0;
        border-radius: 0;
        box-shadow: none;
        border: none;
        padding: 0;
    }

    .main-nav .option-item {
        padding: 4px 0;
    }
}