#globalWrapper #sideMenu, #globalWrapper #top_title, #mw-content-text > p:nth-child(1) {
    display: none;
}

#sideMenu {
    display: none;
}

.modal-backdrop {
    display: none !important;
}

#globalWrapper {
    padding-bottom: 0 !important;
}

#globalWrapper #top_menu_under {
    height: 14px;
}

h1 {
    border-bottom: none !important;
    font-weight: 400 !important;
}

#globalWrapper #content {
    width: 100%;
    padding: 0;
    border: none;
    color: initial;
    margin: 0;
    background-color: initial;
    position: relative;
}